.color1 {
    background-color: #D1F2A5;
}

.color2 {
    background-color: #EFFAB4;
}

.color3 {
    background-color: #FFC48C;
}

.color4 {
    background-color: #FF9F80;
}

.color5 {
    background-color: #F56991;
}